*{
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  box-sizing: border-box;
}

#header{
    background-color: black;
    color: white;
    display: flex;
    padding: 0 10px 0 10px;
}

.left-side{
    display: flex;
    gap: 10px;
    font-size: 12px;
}

.left-side img{
    filter: invert(1);
}


#library{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    gap: 15px;
    padding: 15px;
}

.card{
    border: 0.1px solid lightslategray;
    max-width: 250px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 4px gray;
}

#preview, #download{
    background-color: powderblue;
    border: none;
    border-radius: 5px;
    padding: 8px;
}

#form-wrapper div{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
}

#bkDialog input{
    width: 200px;
    margin: 8px;
}

.form-btns{
    display: flex;
    justify-content: end;
    gap: 10px;
    margin-top: 10px;

}

.form-btns button{
    padding:5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 100px;
    box-shadow: inset 1px 1px 1px;
    
    
}



